/* 清除元素的内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 清除列表样式 */
li {
    list-style: none;
}

/* 去除按钮边框 */
button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 版心 1200px 水平居中 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 页面背景颜色 */
body {
    background-color: #F3F5F7;
}

.fixedbar {
    position: fixed;
    top: 500px;
    left: 50%;
    width: 162px;
    height: 420px;
    background-color: #fff;
    margin-left: -800px;
    padding-left: 18px;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.fixedbar li {
    height: 37px;
}

.fixedbar li:first-child {
    margin-top: 10px;
}

.fixedbar li a {
    color: #050505;
}

.fixedbar li a:hover {
    color: #00a4ff;
}

/* header start */
.header {
    height: 42px;
    margin: 30px auto;
}



.logo img {
    float: left;
    margin-right: 68px;
}

.nav ul li {
    float: left;

}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    color: #050505;
    font-size: 18px;
    line-height: 40px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 20px;
    color: rgb(34, 34, 34);
    outline: #00a4ff;
}

/* 修改placeholder颜色 */
.search input::placeholder {
    color: #ccc;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(../images/btn.png) repeat;
}

.user {
    float: left;
    height: 42px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 42px;
}

.user img {
    margin-right: 10px;
    vertical-align: middle;
}

.banner {
    position: relative;
    height: 420px;
    background: #1c036c url(../images/banner2.jpg) no-repeat top center;
}

/* overflow: hidden用来解决嵌套元素外边距合并 */
.subnav {
    float: left;
    width: 150px;
    height: 420px;
    padding: 0 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
}

.subnav li {
    height: 45px;
    line-height: 45px;
}

.subnav li:first-child {
    margin-top: 5px;
}

.subnav li a {
    font-size: 14px;
    color: #fff;
}

.subnav a span {
    float: right;
}

.subnav li a:hover {
    color: #00b4ff;
}

.course {
    /* 因为course子盒子有了浮动，就不会有外边距塌陷的问题 */
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.course-hd {
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
}

.course-bd {
    /* 没有宽度的盒子 padding不会撑开盒子 */
    padding: 0 15px;
}

.course-bd ul {
    padding-top: 10px;
}

.course-bd li {
    height: 50px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.course-bd li h4 {
    font-size: 14px;
    color: #4e4e4e;
}

.course-bd li p {
    font-size: 12px;
    color: #a5a5a5;
}

.all {
    display: block;
    height: 38px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
}

.all:hover {
    background-color: #00a4ff;
    color: #fff;
}

/* 轮播图小按钮 开始 */
.banner-dots {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-75%);
}

.banner-dots span {
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
}

/* 轮播图小按钮 结束 */
/* goods 模块开始 */
.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    line-height: 60px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.goods h3 {
    float: left;
    font-size: 16px;
    color: #00a4ff;
    margin: 0 30px;
}

.goods-item {
    float: left;
    color: #bfbfbf;
}

.goods-item a {
    font-size: 16px;
    color: #050505;
    margin: 0 30px;
}

.mod {
    float: right;
    font-size: 14px;
    color: #00a4ff;
    margin-right: 28px;
}

/* goods 模块结束 */
/* box start */
.box {
    margin-top: 15px;
}

.box-hd {
    height: 60px;
    line-height: 60px;
}

.box-hd h3 {
    float: left;
    font-size: 22px;
    color: #494949;
    font-weight: normal;
}

.box-hd a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box-hd a:hover {
    color: #00a4ff;
    text-decoration: underline;
}

.box-bd li {
    position: relative;
    float: left;
    width: 228px;
    height: 250px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}

.box-bd li:nth-child(5n) {
    margin-right: 0;
}

.box-bd li img {
    width: 100%;
}

.box-bd .hot {
    position: absolute;
    top: 5px;
    right: -4px;
    width: 40px;
}

.box-bd li h4 {
    margin: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd li p {
    margin: 0 20px;
    font-size: 12px;
    color: #ccc;
}

.box-bd li p span {
    color: orange;
}

/* box end */

.footer {
    height: 300px;
    padding-top: 30px;
    background-color: #fff;
}

.copyright {
    float: left;
}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.app {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
}

.app:hover {
    background-color: #00a4ff;
    color: #fff;
}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dt {
    height: 35px;
    font-size: 16px;
    color: #333;
}

.links dd {
    height: 22px;
    font-size: 12px;
    color: #333;
}

.links a {
    color: #333;
}

.links a:hover {
    color: #00a4ff;
}